
<div class="container">
<h1 class="mb-4 mt-3">Make a new Dose</h1>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Create dose", class: "btn btn-success" %>
<% end %>
</div>
